{{message}}

<br/>

<br/>

<b>Login</b>

<br/>

<br/>

<form
  action="auth"
  method="post">
  <table border="0">
    <tbody>
      <tr>
        <td>username:</td>

        <td>
          <input
            autofocus="true"
            name="acct"
            type="text"
            size="20"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"/>
        </td>
      </tr>

      <tr>
        <td>password:</td>

        <td>
          <input
            name="pw"
            type="password"
            size="20"/>
        </td>
      </tr>
    </tbody>
  </table>

  <br/>

  <input
    type="submit"
    value="login"/>
</form>

<a href="forgot">Forgot your password?</a>

<br/>

<br/>

<b>Create Account</b>

<br/>

<br/>

<form
  action="auth"
  method="post">
  <input
    name="creating"
    type="hidden"
    value="t"/>
  <table border="0">
    <tbody>
      <tr>
        <td>username:</td>

        <td>
          <input
            name="acct"
            type="text"
            size="20"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"/>
        </td>
      </tr>

      <tr>
        <td>password:</td>

        <td>
          <input
            name="pw"
            type="password"
            size="20"/>
        </td>
      </tr>
    </tbody>
  </table>

  <br/>

  <input
    type="submit"
    value="create account"/>
</form>
